<main class="main">
    <section class="sec1">
        <div class="heading">
            <h1 class="heading-1">RESUME</h1>
            <h3 class="heading-2">ABOUT <span class="heading-span">ME</span></h3>
        </div>
        <div class="per-info">
            <h3 class="per-heading">PERSONAL INFO</h3>
            <div class="row1">
                <div class="columns left">
                    <p class="details">FirstName: <span class="sub-heading">Sai Krishna</span></p>
                    <p class="details">Age: <span class="sub-heading">23</span></p>
                    <p class="details">Phone: <span class="sub-heading">+91 8374821534</span></p>
                    <p class="details">Email: <span class="sub-heading">saikrishnarajagopal99@gmail.com</span></p>
                </div>
                <div class="columns right">
                    <p class="details">LastName: <span class="sub-heading">Rajagopal</span></p>
                    <p class="details">Nationality: <span class="sub-heading">Indian</span></p>
                    <p class="details">Address: <span class="sub-heading">Benguluru, India</span></p>
                    <p class="details">Languages: <span class="sub-heading">Telugu, English, Hindi</span></p>
                </div>
                <div class="row2">
                    <a class="btnn" href="../../assets/Sai Krishna Rajagopal Resume.pdf" target="_blank">DOWNLOAD CV <fa-icon [icon]="faDownload"></fa-icon></a>
                </div>
            </div>
        </div>
    </section>
    <app-skills></app-skills>
    <app-experience></app-experience>
</main>