<nav class="navbar">
    <div class="nav">
        <h3 class="nav-brand"><a routerLink="/home">SK</a></h3>
    </div>
    <div class="nav nav-right">
        <ul class="nav-items">
            <li class="nav-link"><a routerLink="/home"><fa-icon [icon]="faHome"></fa-icon> Home</a></li>
            <li class="nav-link"><a routerLink="/about"><fa-icon [icon]="faUser"></fa-icon> About</a></li>
            <!-- <li class="nav-link"><a routerLink="/projects"><fa-icon [icon]="faFolder"></fa-icon> Projects</a></li> -->
            <li class="nav-link"><a routerLink="/contacts"><fa-icon [icon]="faContactBook"></fa-icon> Contact</a></li>
        </ul>
    </div>
</nav>