<section class="sec1">
    <div class="per-heading sec2-heading">EXPERIENCE AND EDUCATION</div>
    <div class="row1">
        <div class="exp">
            <div class="exp-block">
                <fa-icon class="block icon-ic" [icon]="fafolder"></fa-icon>
                <p class="block time">2021-Present</p>
                <p class="block location">Benguluru</p>
            </div>
            <h2 class="Job">Associate Software Engineer<span> - Mphasis</span></h2>
            <p class="caption">Remained up-to-date with industry standard technologies and worked as an Associate
                Software Engineer at Mphasis.
                <br> Wrote Structured, tested, readable and maintanable code.
                <br> Developed web applications and components using Angular including Software testing practices.
                <br> Developed Data Bases and backend using MySql, Mongo DB, Spring Boot and Microservices.
            </p>
        </div>
        <div class="exp">
            <div class="exp-block">
                <fa-icon class="block icon-ic" [icon]="fafolder"></fa-icon>
                <p class="block time">2017-2021</p>
                <p class="block location">Chennai, Tamil Nadu</p>
            </div>
            <h2 class="Job"><b>B.Tech in Computer Science and Engineering<span> - Hindustan Institute of Technology and
                    Science</span></b></h2>
            <p class="caption">Pursued passion in learning Software technologies and methodologies.
                <br> Attended Workshops and Hackathons for Software Designing
                <br> Worked as NSS Volunteer and Particated in several welfare programs and rallies.
                <br> Secured 8.1 CGPA during graduation.
            </p>
        </div>

    </div>
</section>