<main class="main">
    <section class="sec1">
        <div class="heading">
            <h1 class="heading-1">CONTACT</h1>
            <h3 class="heading-2">GET IN <span class="heading-span">TOUCH</span></h3>
        </div>
        <div class="form">
            <div class="left contact">
                <h2>Contact me</h2>
                <div class="blocks">
                    <fa-icon class="icon1 aa" [icon]="faAddress"></fa-icon>
                    <div class="sub-content aa">
                        <h4>Address Point</h4>
                        <p class="">Myllasandra, Bengaluru, Karnataka <br>India -560059</p>
                    </div>
                </div>
                <div class="blocks">
                    <fa-icon class="icon1 aa" [icon]="faMail"></fa-icon>
                    <div class="sub-content aa">
                        <h4>Email Me</h4>
                        <p class="">saikrishnarajagopal99@gmail.com</p>
                    </div>
                </div>
                <div class="blocks">
                    <fa-icon class="icon1 aa" [icon]="faMobile"></fa-icon>
                    <div class="sub-content aa">
                        <h4>Call Me</h4>
                        <p class="">+91 8374821534</p>
                    </div>
                </div>
                <div class="icons">
                    <a target="_blank" [href]="socialFacebook"><fa-icon class="icon2" [icon]="social[0]"></fa-icon></a>
                    <a target="_blank" [href]="socialGitHub"><fa-icon class="icon2" [icon]="social[1]" href=""></fa-icon></a>
                    <a target="_blank" [href]="socialInstagram"><fa-icon class="icon2" [icon]="social[2]" href=""></fa-icon></a>
                    <a target="_blank" [href]="socialLinkedIn"><fa-icon class="icon2" [icon]="social[3]" href=""></fa-icon></a>
                </div>
            </div>
            <!--
            <div class="right contact">
                <form class="form1" name="forma" ng-submit="submitForm()">
                    <div class="form-sec1">
                        <input type="name" placeholder="Your Name" id="name"/>
                        <input type="email" placeholder="Your Email" id="email"/>
                    </div>
                    <div class="form-sec2">
                        <input type="text" placeholder="Your Subject" id="subject"/>
                    </div>
                    <div class="form-sec3">
                        <textarea placeholder="Your Message" id="message"></textarea>
                    </div>
                    <div class="form-sec4">
                        <button class="btn1" id="btn1">Send Message <fa-icon class="" [icon]="faMessage"></fa-icon> </button>
                    </div>
                </form>
            </div>
        -->
        </div>
    </section>
</main>