<main class="main">
    <section id="home">
        <div class="sec1 left">
            <h1 class="first-line">Hello, I'm</h1>
            <h1 class="name">Sai Krishna Rajagopal.</h1>
            <p class="sub">An enthusiastic Full Stack Developer from Benguluru, who loves to create clean and smooth interfaces for day-to-day applications. </p>
            <a class="btnn" routerLink="/about">MORE ABOUT ME <fa-icon style="font-size: 17px;" [icon]="left"></fa-icon></a>
        </div>
        <div class="sec1 right">
        </div>
        <div class="img-bg">
        </div>
        <div class="img-bg2">   
            <img class="img" src="../../assets/Sai Krishna Rajagopal.png"/>      
        </div>
    </section>
</main>